<!DOCTYPE html>
<html>
  <head>
    <title>Pigeon Whispers</title>
  </head>
  
  <body ng-app="musicApp">

    <section ng-controller="musicCtrl">

      <h1>{{ title }}</h1>

      <!-- search songs -->
      <input type="text" ng-model="searchSongs" />

      <!-- list music view -->
      <div>
        <ul ng-repeat="song in songs | filter: searchSongs">
          <li>{{ song.name }} 
            <button ng-click="editSong(song)">Edit</button>
            <button ng-click="deleteSong(song)">Delete</button>
          </li>
        </ul>
      </div>

    </section> <!-- end of musicApp -->

    <!-- angular -->
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <!-- app -->
    <script src="app/app.js"></script>
    <!-- factories -->

    <!-- controller -->

  </body>
</html>