body {
  font-family: arial;
  font-size: 14px;
}
/* This is the styling for the main page sections. */
div#main {
  width: 800px;
  height: 150px;
  margin: 0 1em 0 1em;
}
/* This is the styling for the navigation section. */
div#nav-bar {
  border: 2px solid black;
  background-color: #FFB4B0;
  margin-bottom: 1em;
  text-align: left;
}
div#nav-bar ul {
  list-style-type: none;
  padding-left: 1em;
}
ul.nav-items li{
  display: inline-block;
  cursor: pointer;
}
/* This is the styling for the selection section on left. */
div#left-bar {
  border: 2px solid black;
  background-color: #4DD7FA;
  float: left;
  width: 20%;
  height: 350px;
  padding: 1em 1em 1em 1em;
}
input[type="range"] {
  margin: 1em 0 2em 0;
  display: block;
  width: 100%;
}
#artist-options {
  margin: .5em 0 1.5em 0;
  border: 2.5px solid black;
  width: 95%;
  font-size: 14px;
  text-align: left;
}
#album-options {
  margin: .5em 0 1.5em 0;
  border: 2.5px solid black;
  width: 95%;
  font-size: 14px;
  text-align: left;
}
div#checkbox {
  margin: .5em 1em 0 1em;
  font-size: 12px;
  width: 150px;
  heigth: 100px;
}
input[type="checkbox"] {
  outline: 2px solid black;
  background-color: white;
  border-color: white;
  display: block;
}
div.genre-float-left {
  float: left;
  width: 46%;
}
div.genre-float-right {
  float: right;
  width: 51%;
}
div.submit {
  text-align: center;
  margin-top: 1em;
}
input[type="submit"] {
  width: 100px;
  margin: .5em auto 1em auto;
  border: 2.5px solid black;
  font-size: 16px;
  background-color: lightgray;
  border-radius: 5px;
}
/* This is the styling for the song section on right. */
div#right-bar {
  border: 2px solid black;
  background-color: #FEFAC0;
  float: right;
  width: 73.5%;
  height: 378px;
  font-family: arial; sans-serif;
}
.no-wrap {
  clear: both;
}
h2 {
  color: #785616;
  padding-left: 1.7em;
  padding-top: .5em;
  font-family: Arial;
  
}
.song-info li {
  display: inline-block;
}
li.separator {
  font-size: 16px;
  margin: 0 .5em 0 .5em;
  font-weight: 400;
}
]